<!DOCTYPE html>
<html>

<head>
    <title>Readring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta name="metro4:init" content="false">
    <link rel="stylesheet" href="dependences/metro4/metro-all.min.css">
    <style>
        html,
        body {
            height: 100%;
        }

        /* 页面切换动画 */
        .blur {
            -webkit-filter: blur(5px);
            /* Chrome, Opera */
            -moz-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }

        .slide-fade-enter-active {
            transition: all .2s ease;
        }

        .slide-fade-leave-active {
            transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter {
            transform: translateY(10px);
            opacity: 0;
        }

        .slide-fade-leave-to {
            transform: translateY(-10px);
            opacity: 0;
        }
    </style>
</head>

<body>
    <div data-role="navview" data-expand="lg" data-compact="fs" data-active-state='true' id="app">
        <!-- book read page frame -->
        <iframe v-show='readPageShow' id="readPageIframe" height="100%" width="100%"
            src="/dependences/pdfjs-2.3.200-dist/web/viewer.html" frameborder="0"
            style="position: absolute;top:0;z-index: 1000;">iframe</iframe>

        <!-- side meau -->
        <div class="navview-pane" style="z-index: 100;">
            <button class="pull-button pos-absolute-right">
                <span class="default-icon-menu"></span>
            </button>
            <div class="suggest-box">
                <input type="text" data-role="input" data-clear-button="false" data-search-button="true">
                <button class="holder">
                    <span class="mif-search"></span>
                </button>
            </div>
            <ul class="navview-menu">
                <li @click="currentPage=0" :class="[currentPage===0?'active':'']">
                    <a class="c-pointer">
                        <span class="icon"><span class="mif-books"></span></span>
                        <span class="caption">Bookshelf</span>
                    </a>
                </li>
                <li @click="currentPage=1" @click.once="initAnalysePage" :class="[currentPage===1?'active':'']">
                    <a class="c-pointer">
                        <span class="icon"><span class="mif-drive"></span></span>
                        <span class="caption">Drive</span>
                    </a>
                </li>
                <li @click="currentPage=2" @click.once="initAnalysePage" :class="[currentPage===2?'active':'']">
                    <a class="c-pointer">
                        <span class="icon"><span class="mif-cog"></span></span>
                        <span class="caption">Setting</span>
                    </a>
                </li>
                <li @click="currentPage=3" :class="[currentPage===3?'active':'']">
                    <a class="c-pointer">
                        <span class="icon"><span class="mif-info"></span></span>
                        <span class="caption">About</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- body panel -->
        <div class="navview-content h-100">
            <!-- bookshelf -->
            <transition name="slide-fade">
                <div class="h-100 w-100 container" v-show="currentPage === 0">
                    <!-- book list option panel -->
                    <div class="row mb-4">
                        <div class="cell flex-justify-start">
                            <button class="image-button" @click="addLocalBook()">
                                <span class="mif-file-pdf icon"></span>
                                <span class="caption">Add local pdf</span>
                            </button>
                            <button class="image-button" @click="addOnlineBook()">
                                <span class="mif-cloud icon"></span>
                                <span class="caption">Add cloud pdf</span>
                            </button>
                        </div>
                        <div class="" v-show="selectedBooks.length>0">
                            <div class="toolbar">
                                <button class="tool-button primary outline" @click="toggleSelectAll" data-role="hint" data-hint-text="Toggle select all" data-hint-position="bottom"><span
                                        class="mif-list"></span></button>
                            </div>
                            <div class="toolbar ">
                                <button class="tool-button success" @click="booksRemoteUrlManage" data-role="hint" data-hint-text="Manage cloud source" data-hint-position="bottom"><span
                                        class="mif-cloudy2" ></span></button>
                                <button class="tool-button primary outline" @click="shareBooks"  data-role="hint" data-hint-text="Share books to others" data-hint-position="bottom"><span
                                        class="mif-share"></span></button>
                            </div>
                            <div class="toolbar">
                                <button class="tool-button warning" @click="deleteBooks"  data-role="hint" data-hint-text="Delete books from bookshelf" data-hint-position="bottom"><span
                                        class="mif-bin"></span></button>
                            </div>
                        </div>
                    </div>
                    <!-- book list -->
                    <div class="tiles-grid">
                        <div @click="openBook(book)" @contextmenu.prevent="choiceBook(book)"
                            :class="[{selected:JSON.stringify(selectedBooks).indexOf(JSON.stringify(book))!=-1},'tile-medium']"
                            data-role="tile" v-for="book in books">
                            <div class="slide-front">
                                <img src="images/pumba-bg.png" class="h-100 w-100">
                            </div>
                            <!-- <span class="branding-bar fg-dark"><span :class="iconMap[book.storageType]"></span> -->
                            <span class="branding-bar fg-dark"><span :class="iconMap[book.storageType]"></span>
                                {{book.name}}</span>
                            <span class="badge-top">{{(book.page/book.pagesCount).toFixed(2)}}%</span>
                        </div>
                    </div>
                    <!-- read page action panel -->
                    <div v-show="readPageShow" @click="readPageShow = false"
                        class="pos-fixed pos-bottom-right mr-8 mb-8" style="z-index: 1001;opacity: .7;">
                        <button class="action-button ">
                            <span class="icon"><span class="mif-backspace"></span></span>
                        </button>
                    </div>
                </div>
            </transition>
            <!-- driven -->
            <transition name="slide-fade">
                <div class="h-100 w-100" v-show="currentPage === 1">
                    <h1>Driven option coming soon</h1>
                </div>
            </transition>
            <!-- setting -->
            <transition name="slide-fade">
                <div class="h-100 w-100" v-show="currentPage === 2">
                    <h1>Setting option coming soon</h1>
                </div>
            </transition>
            <!-- about -->
            <transition name="slide-fade">
                <div class="h-100 w-100" v-show="currentPage === 3">
                    <h1>About option coming soon</h1>
                </div>
            </transition>

        </div>
        <!-- local file input -->
        <input type="file" name="" ref="fileInput" id="" @change='fileInputChange($event)' accept="application/pdf">
        <!-- upload cloud dialog -->
        <div class="dialog" data-role="dialog" id="booksRemoteUrlManageDialog">
            <div class="dialog-title">Books remote url manage</div>
            <div class="dialog-content">
                <div v-for="book in editSelectedBooks">
                    <p>{{book.name}}
                        <span v-if="getPDFFileNameFromURL(book.remoteUrl)">
                            <a :href="book.remoteUrl" class="mif-cloud-download" data-role="hint" data-hint-text="Download book to local"></a>
                            <a href="#" class="mif-eye  js-dialog-close" @click="openBookByRemoteUrl(book)" data-role="hint" data-hint-text="Open book by remote url"></a>
                            <a href="#" data-role="hint" data-hint-text="Already storaged in device"><input type="checkbox" data-role="switch"  data-material="true" :checked='book.storageType=="both"'></a>
                        </span>
                    </p>
                    <input type="text" data-role="input" v-model="book.remoteUrl"
                        onchange="$(this)[0].dispatchEvent(new Event('input'));">
                </div>
            </div>
            <div class="dialog-actions">
                <button class="button js-dialog-close">Cancel</button>
                <button class="button primary" :click="updateRemoteUrlInfo">Submit</button>
            </div>
        </div>
    </div>
</body>
<script src="dependences/metro4/metro.min.js"></script>
<script src="dependences/js/vue.js"></script>
<!-- <script src="dependences/js/jquery-3.4.1.min.js"></script>
<script src="dependences/js/layer-v3.1.1/layer/"></script> -->
<script>
    var app = new Vue({
        el: '#app',
        mounted: function () {
            Metro.init()
        },
        created: function () {
            this.books = JSON.parse(localStorage.getItem('bookring.books')) || []
            let userInfo = JSON.parse(localStorage.getItem('bookring.userInfo'))
        },
        data: {
            currentPage: 0,
            books: [],
            selectedBooks: [],
            editSelectedBooks: [],
            iconMap: { cloud: 'mif-cloud', local: 'mif-file-pdf', both: 'mif-cloud fg-lightGreen' },
            fileModel: '',
            readPageShow: false,
            readPageIframe: "",
            currentReadBook: '',
        },
        watch: {
            readPageShow: function (val) {
                if (!val) {
                    this.saveReadProgress()
                }
            }
        },
        methods: {
            openBook: function (book) {
                if (book.name == document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.url || book.remoteUrl == document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.url) {
                    this.currentReadBook = book
                    this.readPageShow = true
                    return
                }
                this.currentReadBook = book
                if (book.storageType == 'cloud') {
                    // Warning: Must encodeurlcomponent or can't parse url
                    // bookHref = '/dependences/pdfjs-2.3.200-dist/web/viewer.html?file=' + encodeURIComponent(book.remoteUrl) + "#page=" + book.page
                    // document.getElementById("readPageIframe").contentWindow.location.reload(true)
                    // document.getElementById("readPageIframe").src = bookHref
                    // //防止缓存导致page未改变
                    // setTimeout(() => {
                    //     document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.page = app.currentReadBook.page
                    // }, 1000);
                    // this.readPageShow = true
                    this.openBookByRemoteUrl(book)
                } else {
                    this.$refs.fileInput.dispatchEvent(new MouseEvent('click'))
                }
            },
            openBookByRemoteUrl: function (book) {
                // Warning: Must encodeurlcomponent or can't parse url
                bookHref = '/dependences/pdfjs-2.3.200-dist/web/viewer.html?file=' + encodeURIComponent(book.remoteUrl) + "#page=" + book.page
                document.getElementById("readPageIframe").contentWindow.location.reload(true)
                document.getElementById("readPageIframe").src = bookHref
                //防止缓存导致page未改变
                setTimeout(() => {
                    document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.page = app.currentReadBook.page
                }, 1000);
                this.readPageShow = true
            },
            fileInputChange: function (e) {
                var file = e.target.files[0]
                if (file) {
                    if (file.name == this.currentReadBook.name || this.currentReadBook.name == "new") {
                        this.readPageShow = true
                        var url = URL.createObjectURL(file)
                        if (file.name) {
                            url = {
                                url: url,
                                originalUrl: file.name
                            }
                        }
                        document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.open(url)
                            .then(function () {
                                //防止缓存导致page未改变
                                setTimeout(() => {
                                    document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.page = app.currentReadBook.page
                                }, 1000);
                            })
                    } else {
                        Metro.toast.create("Please select " + this.currentReadBook.name, null, 3000, 'warning')
                    }
                    this.$refs.fileInput.value = ''
                }
            },
            addLocalBook: function () {
                let book = new Book()
                book.storageType = 'local'
                this.openBook(book)
            },
            addOnlineBook: function () {
                Metro.dialog.create({
                    clsDialog: "light",
                    title: "Online book url",
                    content: '<input id="url" type="text" data-role="input">',
                    onClose: function () {
                        let urlString = $(url).val()
                        if (urlString && app.getPDFFileNameFromURL(urlString)) {
                            let book = new Book()
                            book.storageType = 'cloud'
                            book.remoteUrl = urlString
                            app.openBook(book)
                        } else {
                            Metro.toast.create("Please input downloadable url ", null, 3000, 'warning');
                        }
                    }
                });
            },
            saveReadProgress: function () {
                if (this.currentReadBook.name == 'new') {
                    let pdfApp = document.getElementById("readPageIframe").contentWindow.PDFViewerApplication
                    this.currentReadBook.name = this.currentReadBook.storageType == "cloud" ? this.getPDFFileNameFromURL(pdfApp.url) : pdfApp.url
                    this.currentReadBook.page = pdfApp.page
                    this.currentReadBook.pagesCount = pdfApp.pagesCount
                    this.currentReadBook.lastReadTime = new Date().getTime()
                    this.books.push(this.currentReadBook)
                } else {
                    this.currentReadBook.page = document.getElementById("readPageIframe").contentWindow.PDFViewerApplication.page
                    this.currentReadBook.lastReadTime = new Date().getTime()
                }
                // this.currentReadBook = ''
            },
            choiceBook: function (book) {
                if (this.selectedBooks.indexOf(book) == -1) {
                    this.selectedBooks.push(book)
                } else {
                    this.selectedBooks.splice(this.selectedBooks.indexOf(book), 1)
                }
            },
            toggleSelectAll: function () {
                if (this.books.length != this.selectedBooks.length) {
                    this.selectedBooks = []
                    for (book of this.books) {
                        this.selectedBooks.push(book)
                    }
                } else {
                    this.selectedBooks = []
                }
            },
            deleteBooks: function () {
                for (book of this.selectedBooks) {
                    this.selectedBooks.splice(this.selectedBooks.indexOf(book), 1)
                    if (this.books.indexOf(book) != -1) {
                        this.books.splice(this.books.indexOf(book), 1)
                    }
                }
            },
            shareBooks: function () {
                // TODO: share books to public repository
                Metro.toast.create("Share " + this.selectedBooks.length + " books success", null, 2000, "success")
            },
            booksRemoteUrlManage: function () {
                this.editSelectedBooks = JSON.parse(JSON.stringify(this.selectedBooks))
                Metro.dialog.open('#booksRemoteUrlManageDialog')
            },
            updateRemoteUrlInfo: function () {
                for (book of this.editSelectedBooks) {
                    if (this.getPDFFileNameFromURL(book.remoteUrl) && this.getPDFFileNameFromURL(book.remoteUrl) == book.name) {
                        this.selectedBooks.indexOf()
                        // TODO: find index of book in selectedBook and update book info to books
                    }
                }
            },
            getPDFFileNameFromURL: function (url) {
                var defaultFilename = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : false;

                if (typeof url !== 'string') {
                    return defaultFilename;
                }

                if (isDataSchema(url)) {
                    console.warn('getPDFFileNameFromURL: ' + 'ignoring "data:" URL for performance reasons.');
                    return defaultFilename;
                }

                var reURI = /^(?:(?:[^:]+:)?\/\/[^\/]+)?([^?#]*)(\?[^#]*)?(#.*)?$/;
                var reFilename = /[^\/?#=]+\.pdf\b(?!.*\.pdf\b)/i;
                var splitURI = reURI.exec(url);
                var suggestedFilename = reFilename.exec(splitURI[1]) || reFilename.exec(splitURI[2]) || reFilename.exec(splitURI[3]);

                if (suggestedFilename) {
                    suggestedFilename = suggestedFilename[0];

                    if (suggestedFilename.includes('%')) {
                        try {
                            suggestedFilename = reFilename.exec(decodeURIComponent(suggestedFilename))[0];
                        } catch (ex) { }
                    }
                }

                return suggestedFilename || defaultFilename;
            },
        }
    })

    // get pdf url filename
    function isDataSchema(url) {
        var i = 0,
            ii = url.length;

        while (i < ii && url[i].trim() === '') {
            i++;
        }

        return url.substring(i, i + 5).toLowerCase() === 'data:';
    }

    // function getPDFFileNameFromURL(url) {
    //     var defaultFilename = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : false;

    //     if (typeof url !== 'string') {
    //         return defaultFilename;
    //     }

    //     if (isDataSchema(url)) {
    //         console.warn('getPDFFileNameFromURL: ' + 'ignoring "data:" URL for performance reasons.');
    //         return defaultFilename;
    //     }

    //     var reURI = /^(?:(?:[^:]+:)?\/\/[^\/]+)?([^?#]*)(\?[^#]*)?(#.*)?$/;
    //     var reFilename = /[^\/?#=]+\.pdf\b(?!.*\.pdf\b)/i;
    //     var splitURI = reURI.exec(url);
    //     var suggestedFilename = reFilename.exec(splitURI[1]) || reFilename.exec(splitURI[2]) || reFilename.exec(splitURI[3]);

    //     if (suggestedFilename) {
    //         suggestedFilename = suggestedFilename[0];

    //         if (suggestedFilename.includes('%')) {
    //             try {
    //                 suggestedFilename = reFilename.exec(decodeURIComponent(suggestedFilename))[0];
    //             } catch (ex) { }
    //         }
    //     }

    //     return suggestedFilename || defaultFilename;
    // }

    // download file
    function downloadFile(url) {
        const iframe = document.createElement("iframe");
        iframe.style.display = "none"; // 防止影响页面
        iframe.style.height = 0; // 防止影响页面
        iframe.src = url;
        document.body.appendChild(iframe); // 这一行必须，iframe挂在到dom树上才会发请求
        setTimeout(() => {
            iframe.remove();
        }, 60 * 1000);
    }

    // book class
    function Book(name, page, pagesCount, storageType, remoteUrl, lastReadTime) {
        this.name = name || 'new'
        this.page = page || 1
        this.pagesCount = pagesCount
        this.storageType = storageType
        this.remoteUrl = remoteUrl
        this.lastReadTime = lastReadTime
    }

    // save read prograss when page closed or refresh
    window.onbeforeunload = function (event) {
        // event.returnValue="sdf"
        app.saveReadProgress()
        if (app.books.length > 0) {
            localStorage.setItem('bookring.books', JSON.stringify(app.books))
        } else {
            localStorage.setItem('bookring.books', "[]")
        }
    }
</script>

</html>